*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fotoHeader{
    width: 30%;
}
nav {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    width: 100%;
    margin-bottom: 25px;
    padding: 8px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li{
    padding: 5px;

}

nav ul li a{
    text-decoration: none;
    color:black;
}

nav ul li a:hover{
    color:green;
}

.mainSection{
    display: flex; 
    justify-content: space-between;
}

.mainSection article{
    margin: 20px 25px 40px 50px;
}

.apuntame{
    text-decoration: none;
    color: black;
    background-color: rgb(93, 196, 128);
    background: size 20px;
    width: 100%;
}
.apuntame a{
    text-decoration: none;
    color: black;
}
.apuntame a:hover{
    color: white;
}
.foodSection{
    display:flex;
    flex-wrap: wrap;
}

.foodSection article{
    flex-basis: 45%;
    margin: 10px;
    min-width: 100px;
}

.foodSection article img{
    width: 100%;
    height: 70%;
}

.blog{
    background-color: lightgrey;
    padding: 8px;
    margin-top: 15px ;
}

.foodSection article h5 a{
    text-decoration: none;
    color: black;
}
.foodSection article h5 a:hover{
    color: #8A8070;
}
.foodSection article div{
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.foodSection article div p{
    text-align: center;
}
.foodSection article p{
    font-size: 12px;
}
footer{
    background-color: black;
}

footer ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
}
footer ul li{
    padding: 20px;
}
footer ul li a{
    text-decoration: none;
    color:white;
}

footer ul li a:hover{
    color:green;
}