
*{
    text-align: justify;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentSection div{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;
}
main{
    text-align: center;
}
.contentSection div *{
    text-align: center;
}
.contentSection div article{
    width: 20%;
}
.titles{
    display: flex;
    width: 100%;
    text-align: center;
}
.titles h3{
    flex-basis: 30%;
    text-align: center;
}
article img{
    width: 15%;
}
article{
    background-color: yellowgreen;
    margin: 2%;
    padding: 3% 3% 0% 3%;
}
article a{
    text-decoration: none;
    color:black;
}
article a:hover{
    color: aliceblue;
}

